<section id="feature" class="feature p-top-100">
    <div class="container">
        <div class="row">
            <div class="main_feature">
                <div class="container">
                    <div class="row">
                        <div class="main_blog_fashion">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-6 m-top-100">
                                <!-- Head Title -->
                                <div class="head_title">
                                    <h2>Perro ideal</h2>
                                    <h4><em>Podras generar tu perro ideal</em>
                                    </h4>
                                    <div class="separator_left"></div>
                                </div><!-- End off Head Title -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature_photo wow fadeIn sm-m-top-40">
                                <div class="photo_border"></div>
                                <div class="feature_img">
                                    <img src="https://dla.cdncimeco.com/uploads/2017/10/image59d4ae70f21c4.jpg"
                                        alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End off row-->
            </div>
            <!--End off container -->
            <br />
            <br />
            <br />
            <hr />
            <br />
            <br />
            <br />
</section>


<section id="gallery" class="gallery margin-top-120 bg-dark">
    <!-- Gallery container-->
    <div class="container">
        <div class="row">
            <div class="main_feature">
                <div class="container">
                    <div class="row">
                        <div class="main_blog_fashion">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-6">
                                <div class="feature_photo wow fadeIn sm-m-top-40">
                                    <div class="photo_border"></div>
                                    <div class="feature_img">
                                        {{#if convertido}}
                                        <img src='{{convertido}}' alt="" />
                                        {{else}}
                                        <img src='https://www.integracioncanina.com/images/perrito-preguntando.jpg' alt="" />
                                        {{/if}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 m-top-100">
                                <!-- Head Title -->
                                <div class="head_title ">
                                    <h2 class="text-center">¿Cual sera tu perro ideal?</h2>
                                    <div class="separator_auto"></div>
                                    <div class="container"></div>
                                    <a class="btn btn-default btn-lg btn-block mt-5" href="/ideal">Generar Tu perro
                                        ideal</a>
                                </div><!-- End off Head Title -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End off row-->
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</section>
