<section id="feature" class="feature p-top-100">
                <div class="container">
                    <div class="row">
                        <div class="main_feature">
                            <div class="container">
                    <div class="row">
                        <div class="main_blog_fashion">
                            <div class="col-md-8">
                                
                            </div>


                            <div class="col-md-6 m-top-100">
                                <!-- Head Title -->
                                <div class="head_title">
                                    <h2 style="color: #f27649;">Noticia del día</h2>
                                    <h5><em>Gato héroe salvó a su dueña de morir en un incendio, mientras dormía</em></h5>
                                    <div class="separator_left"></div>
                                    <a class="btn btn-default" style="border-color:#f27649; color: #f27649;" href="/perroideal" >¿Saber cual es tu mascota ideal?</a>
                                </div><!-- End off Head Title -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature_photo wow fadeIn sm-m-top-40">
                                    <div class="photo_border"></div>
                                    <div class="feature_img">
                                        <img src="../../public/img/descarga.jpeg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
                <br />
                <br />
                <br />
                <hr />
                <br />
                <br />
                <br />
            </section> <!--End off About section -->


 <!--Gallery Section-->
            <section id="gallery" class="gallery margin-top-120 bg-grey">
                <!-- Gallery container-->
                <div class="container">
                    <div class="row">
                        <div class="main-gallery roomy-80">
                            <div class="col-md-12">
                                <div class="head_title text-left sm-text-center wow fadeInDown">
                                    <h2 style="color: #f27649;">Cuidados para tus mascotas</h2>
                                    <h5><em>Todo lo que debes saber para tener sanos a tus amigos peludos</em></h5>
                                    <div class="separator_left"></div>
                                </div>
                            </div>
                            <div class="col-md-12 m-bottom-60 ">
                                <div class="filters-button-group text-right sm-text-center">
                                    <button class="button is-checked" data-filter="*">todos</button>
                                    <button class="button" data-filter=".alimentacion">Alimentación</button>
                                    <button class="button" data-filter=".metal">Salud</button>
                                    <button class="button" data-filter=".transition">Limpieza</button>
                                    <button class="button" data-filter=".alkali">Educación</button>
                                    <button class="button" data-filter=".ar">Enfermedades</button>
                                </div>
                            </div>

                            <div style="clear: both;"></div>

                            <div class="grid text-center">
                                <div class="grid-item transition metal ium">
                                    <img alt="" src="https://i.imgur.com/GPGJ9aw.jpg">
                                    <div class="grid_hover_area text-center">
                                        <div class="grid_hover_text m-top-110">
                                            <h4 class="text-white">Alimentación</h4>
                                           {{!--  <h5 class="text-white"><em>Fashionista</em></h5> --}}
                                            <a href="assets/images/porfolio-01.jpg" class="popup-img text-white m-top-40">Ver más<i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div><!-- End off grid Hover area -->
                                </div><!-- End off grid item -->

                                <div class="grid-item metalloid " >
                                    <img alt="" src="https://i.imgur.com/1HDdY8i.jpg">
                                    <div class="grid_hover_area text-center">
                                        <div class="grid_hover_text m-top-150">
                                            <h4 class="text-white">Consejos de salud</h4>
                                            <a href="assets/images/porfolio-02.jpg" class="popup-img text-white m-top-50">Ver más <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div><!-- End off grid Hover area -->
                                </div><!-- End off grid item -->

                                <div class="grid-item post-transition metal numberGreaterThan50">
                                    <img alt="" src="https://i.imgur.com/izRnbiJ.jpg?1">
                                    <div class="grid_hover_area text-center">
                                        <div class="grid_hover_text m-top-50">
                                            <h4 class="text-white">para que esten limpios</h4>
                                            <a href="assets/images/porfolio-03.jpg" class="popup-img text-white m-top-40">Ver más <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div><!-- End off grid Hover area -->
                                </div><!-- End off grid item -->
                                
                                <div class="grid-item alkali ar" >
                                    <img alt="" src="https://i.imgur.com/e3oeLxj.jpg">
                                    <div class="grid_hover_area text-center">
                                        <div class="grid_hover_text m-top-50">
                                            <h4 class="text-white">Educación</h4>
                                            <a href="assets/images/porfolio-06.jpg" class="popup-img text-white m-top-40">Ver más <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div><!-- End off grid Hover area -->
                                </div><!-- End off grid item -->

                                <div class="grid-item post-transition metal ium" >
                                    <img alt="" src="https://i.imgur.com/c5oQtiE.jpg?1">
                                    <div class="grid_hover_area text-center">
                                        <div class="grid_hover_text m-top-150">
                                            <h4 class="text-white">para que este sano y fuerte</h4>
                                            <a href="assets/images/porfolio-04.jpg" class="popup-img text-white m-top-50">Ver más <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div><!-- End off grid Hover area -->
                                </div><!-- End off grid item -->


                                <div class="grid-item metal ar" >
                                    <img alt="" src="https://i.imgur.com/tlWrUqd.jpg">
                                    <div class="grid_hover_area text-center">
                                        <div class="grid_hover_text m-top-110">
                                            <h4 class="text-white">Enfermedades frecuentes</h4>
                                            <a href="assets/images/porfolio-05.jpg" class="popup-img text-white m-top-40">Ver más <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div><!-- End off grid Hover area -->
                                </div><!-- End off grid item -->



                            </div>

                            <div style="clear: both;"></div>

                        </div>
                    </div>
                </div><!-- Portfolio container end -->
            </section><!-- End off portfolio section -->


<!--Testimonial Section-->
<section id="testimonial" class="testimonial fix roomy-100">
    <div class="container">
        <div class="row">
            <div class="main_testimonial text-center">
                <div class="head_title text-center sm-text-center wow fadeInDown">
                    <h2 style="color: #f27649;">Tips</h2>
                </div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active testimonial_item">
                            <div class="col-sm-10 col-sm-offset-1">

                                <div class="test_authour">
                                    <img class="img-circle" src="assets/images/test-img.jpg" alt="" />
                                    <h6 class="m-top-20">Lo que debo saber</h6>
                                </div>

                                <p class=" m-top-40">Tu mascota tiene necesidades básicas que debes considerar al
                                    momento de cuidarla. Sabemos que es parte importante de tu familia y siempre quieres
                                    cuidarla mejor. Aquí algunos tips para tener en cuenta. </p>


                            </div>
                        </div>
                        <div class="item testimonial_item">
                            <div class="col-sm-10 col-sm-offset-1">

                                <div class="test_authour">
                                    <img class="img-circle" src="assets/images/test-img.jpg" alt="" />
                                    <h6 class="m-top-20">Comunidades</h6>
                                </div>

                                <p class=" m-top-40">El club de mascotas Bayer es la comunidad más grande de América Latina donde buscamos promover el bienestar animal, la adopción y reducir el abandono. Además también podrás encontrar pareja para tu mascota o dejar un mensaje de despedida al momento de su partida.
                                </p>


                            </div>
                        </div>
                        <div class="item testimonial_item">
                            <div class="col-sm-10 col-sm-offset-1">

                                <div class="test_authour">
                                    <img class="img-circle" src="assets/images/test-img.jpg" alt="" />
                                    <h6 class="m-top-20">Caricias</h6>
                                </div>

                                <p class=" m-top-40"> Acaricia a tus mascotas. Un trato amoroso es muy aconsejable para la salud de tu mascota. Tómate algún momento del día para compartir con tu mascota y consigue un tiempo de calidad. Aprovecha para acariciarla, abrazala y dale un masaje relajante en patas y muslos.
                                </p>

                            </div>
                        </div>

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="fa fa-long-arrow-left" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <span class="slash">/</span>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>

                </div>
            </div>
        </div>
        <!--End off row-->
    </div>
    <!--End off container -->

    <br />
    <br />
    <br />
    <hr />
    <br />
    <br />
    <br />
<section id="gallery" class="gallery margin-top-120 ">
    <div class="container">
        <div class="row">
            <div class="main_cbrand text-center ">

                <h1 style="color: #f27649;">Nuestros aliados</h1>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="cbrand_item m-bottom-10">
                        <a href="http://localhost:4000/productos"><img src="https://logodownload.org/wp-content/uploads/2019/09/pedigree-logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="cbrand_item m-bottom-10">
                        <a href="http://localhost:4000/productos"><img src="https://i.pinimg.com/236x/5d/77/8f/5d778f91b38df837960a0c36e595cdf6--kitchen-products-kitchens.jpg" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="cbrand_item m-bottom-10">
                        <a href="http://localhost:4000/productos"><img class="" src="https://www.portalveterinaria.com/upload/20191017092710RoyalCanin.jpg" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="cbrand_item m-bottom-10">
                        <a href="http://localhost:4000/productos"><img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/39085281_1840273396055839_1805567825620762624_n.png?_nc_cat=100&_nc_sid=85a577&_nc_oc=AQlnKydLRVjtpISoPI0psYrJ--bAmskmr6N4xrYLJahAcE0W5ggIHCjMaa74paMozMpvFL6kclu_1mICwvM8elVi&_nc_ht=scontent-bog1-1.xx&oh=83b3f66d1e1c151ce3689ee2798b6ec8&oe=5E9D409E" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="cbrand_item m-bottom-10">
                        <a href="http://localhost:4000/productos"><img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/p960x960/51137461_799576153734222_3856351247023996928_o.png?_nc_cat=103&_nc_sid=85a577&_nc_oc=AQkpahX1hX04PCT-ROOPrMTkuLbSDNSCtkQGbm0NuqYbLtolVhEVuNvBboS3UO9mZgAJp9QDnkNbM8M1r1FNmUoE&_nc_ht=scontent-bog1-1.xx&oh=07ad457d9eb202512520e90d1fc6ecd0&oe=5E9E0FB1" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="cbrand_item m-bottom-10">
                        <a href="http://localhost:4000/productos"><img src="../public/img/images.jpeg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section>
<!--End off Testimonial section -->




            <!--Contact Us Section-->
            <section id="contact" class="contact fix">
                <div class="container">
                    <div class="row">
                        <div class="main_contact p-top-100">

                            <div class="col-md-6 sm-m-top-30">
                                <form class="" action="subcribe.php">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group"> 
                                                <label>nombre *</label>
                                                <input id="first_name" name="name" type="text" class="form-control" required="">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>correo *</label>
                                                <input id="email" name="email" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group"> 
                                                <label>tu mensaje *</label>
                                                <textarea class="form-control" rows="6"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <a href="" class="btn btn-default">enviar mensaje <i class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>

                            <div class="col-md-6">
                                <div class="contact_img">
                                    <img src="https://cdn.discordapp.com/attachments/580223884276793345/691831204575707136/Mascotas.jpg" alt="" />
                                </div>
                            </div>


                        </div>
                    </div><!--End off row -->
                </div><!--End off container -->
            </section><!--End off Contact Section-->



              <!--Company section-->

            <section id="company" class="company bg-light">
                <div class="container">
                    <div class="row">
                        <div class="main_company roomy-100 text-center">
                            <h3 class="text-uppercase" style="color: #f27649;">PET SHOP</h3>
                            <p>Calle 52 N° 2-53</p>
                            <p>(+57) 3123435898  -  veterina@petshop.com</p>
                        </div>
                    </div>
                </div>
            </section>
