            <!--Blog Features Section-->
            <section id="blog_fashion" class="blog_fashion roomy-100">
                <div class="container">
                    <div class="row">
                        <div class="main_blog_fashion">
                            <div class="col-md-8">
                                <div class="blog_fashion_left">
                                    <div class="blog_fashion_img">
                                        <img src="../public/img/noti1grande.jpeg" alt="" />
                                    </div>
                                    <div class="blog_fashion_content">
                                        <ol class="breadcrumb">
                                            <li><a href="#" class="text-black">medio ambiente</a></li>
                                            <li><a href="#" class="text-black">Feb 28 2020</a></li>
                                            <li><a href="#" class="text-black">2 comments</a></li>
                                        </ol>
                                        <a href="blog-details.html"><h2>¿Nuestras mascotas pueden transmitirnos enfermedades?</p>


                                        <a href="blog-details.html" class="btn btn-default m-top-20"> Leer más <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="blog_fashion_right">
                                    <div class="fashion_test text-center">
                                        <img class="img-circle" src="../public/img/usuario.jpg" alt="" />

                                        <h6 class="m-top-20">hecho por</h6>
                                        <img class="m-top-20" src="asset" alt="" />
                                    </div>

                                    <div class="fashion_praspect m-top-40">
                                        <div class="fashion_praspect_inner bg-black">
                                            <p class="text-white">GABRIEL GARCÍA - @Nosoyesegabo <br> 
                                        medico veterinario <br> para: <br> PET SHOP</p>                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- End off row -->

                    <hr />

                    <div class="row">
                        <div class="blog_area fix">
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="../public/img/noti2grande.jpeg" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="#" class="text-black">Asia</a></li>
                                        <li><a href="#" class="text-black">Feb 28 2020</a></li>
                                    </ol>
                                    <h5>Perro en Hong Kong pudo haberse contagiado de coronavirus</h5>
                                    <p class="m-top-20">Primer análisis de la mascota de una mujer contagiada arrojó que tiene el mal, pero de manera débil.</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="../public/img/noti3.jpeg" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="#" class="text-black">Barranquilla</a></li>
                                        <li><a href="#" class="text-black">Feb 20 2020</a></li>
                                    </ol>
                                    <h5>Así fue el rescate de 33 gatos y 22 perros de una casa en Barranquilla</h5>
                                    <p class="m-top-20">Los animales fueron encontrados en malas condiciones de salud.</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="../public/img/noti4.jpeg" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="#" class="text-black">Gente</a></li>
                                        <li><a href="#" class="text-black">Feb 18 2020</a></li>
                                    </ol>
                                    <h5>Gato héroe salvó a su dueña de morir en un incendio, mientras dormía</h5>
                                    <p class="m-top-20">Al animal le tocó morder a la mujer para que se despertara y evitara una tragedia.</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="../public/img/noti5.jpeg" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="#" class="text-black">medio ambiente</a></li>
                                        <li><a href="#" class="text-black">Feb 14 2020</a></li>
                                    </ol>
                                    <h5>Consejos para practicar deporte con su perro</h5>
                                    <p class="m-top-20">Bríndele una alimentación balanceada y manténgalo bien hidratado con pequeñas cantidades de agua.</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="../public/img/noti6.jpeg" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="#" class="text-black">Europa</a></li>
                                        <li><a href="#" class="text-black">Feb 13 2020</a></li>
                                    </ol>
                                    <h5>Pareja mató a golpes a perra que había adoptado y luego se la comió</h5>
                                    <p class="m-top-20">El hecho ocurrió en Rusia y fue denunciado por los trabajadores de un refugio para animales.</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="../public/img/noti7.jpeg" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="#" class="text-black">Gente</a></li>
                                        <li><a href="#" class="text-black">Feb 12 2020</a></li>
                                    </ol>
                                    <h5>¡Le volvió la felicidad a Nairo Quintana!: apareció su perro</h5>
                                    <p class="m-top-20">Así lo informó el propio deportista en sus cuentas oficiales de redes sociales.</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="../public/img/noti8.jpeg" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="#" class="text-black">medio ambiente</a></li>
                                        <li><a href="#" class="text-black">Feb 07 2020</a></li>
                                    </ol>
                                    <h5>Conozca por qué su mascota puede llegar a ser agresiva</h5>
                                    <p class="m-top-20">Luego del caso de una joven argentina que fue atacada por su perro, expertos explican estos sucesos.</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="../public/img/noti9.jpeg" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="#" class="text-black">medio ambiente</a></li>
                                        <li><a href="#" class="text-black">Feb 07 2020</a></li>
                                    </ol>
                                    <h5>Humanizar a las mascotas es otra forma de maltrato animal / Opinión</h5>
                                    <p class="m-top-20">Sentar a nuestras mascotas a la mesa, dormir con ellos y disfrazarlos son algunas prácticas nocivas.</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="blog_item m-top-30">
                                    <div class="blog_item_img">
                                        <img src="../public/img/romeo.webp" alt="" />
                                    </div>
                                    <ol class="breadcrumb">
                                        <li><a href="#" class="text-black">medillin</a></li>
                                        <li><a href="#" class="text-black">Feb 07 2020</a></li>
                                    </ol>
                                    <h5>Conozca a Romeo, el primer gato con marcapasos en Colombia</h5>
                                    <p class="m-top-20">La cirugía del felino es un hito en la historia de la cardiología animal en el país.</p>
                                </div>
                            </div><!-- End off col-md-4 -->
                        </div>
                    </div>

                </div><!-- End off container -->
            </section><!-- End off blog Fashion -->
