{{!--             <!--About Sections-->
            <section id="feature" class="ab_feature roomy-100">
                <div class="container">
                    <div class="row">
                        <div class="main_ab_feature">

                            <div class="col-md-6">
                                <!-- Head Title -->
                                <div class="head_title">
                                    <h2>Story about us</h2>
                                    <h5><em>Pouseidon brings the waves to somewhere so far,
                                            with beautiful & elegant</em></h5>
                                    <div class="separator_left"></div>
                                </div><!-- End off Head Title -->

                                <div class="ab_feature_content wow fadeIn m-top-40">
                                    <p>Eusus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores
                                        legere me lius quod ii legunt saepius. Duis autem vel eum iriure dolor in hendrerit vulputate
                                        velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                                        accumsan et iusto odio dignissim qui blandit praesent luptatum</p>

                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
                                        vel illum dolore feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim</p>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="ab_feature_photo wow fadeIn sm-m-top-40">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="ab_feature_item sm-m-top-20">
                                                <img src="assets/images/ab-f-img1.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="ab_feature_item sm-m-top-20">
                                                <img src="assets/images/ab-f-img2.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="ab_feature_item sm-m-top-20">
                                                <img src="assets/images/ab-f-img3.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="ab_feature_item m-top-20">
                                                <img src="assets/images/ab-f-img4.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="ab_feature_item m-top-20">
                                                <img src="assets/images/ab-f-img5.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="ab_feature_item m-top-20">
                                                <img src="assets/images/ab-f-img6.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="ab_feature_item m-top-20">
                                                <img src="assets/images/ab-f-img7.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="ab_feature_item m-top-20">
                                                <img src="assets/images/ab-f-img8.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="ab_feature_item m-top-20">
                                                <img src="assets/images/ab-f-img9.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section>


            <!--Simple Section-->
            <section id="simple" class="simple bg-grey roomy-80">
                <div class="container">
                    <div class="row">
                        <div class="main_simple text-center">
                            <div class="col-md-12">
                                <h2>Simplicity isn’t simple</h2>
                                <p>Eusus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere 
                                    me lius quod ii legunt saepius. Duis autem vel eum iriure dolor in hendrerit vulputate velit esse
                                    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan blandit
                                    praesent luptatum.</p>

                                <a href="" class="btn btn-default m-top-40">Contact Us <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!--Models section-->
            <section id="teams" class="teams roomy-80">
                <div class="container">
                    <div class="row">
                        <div class="main_teams">
                            <div class="col-md-12">
                                <div class="head_title text-left sm-text-center wow fadeInDown">
                                    <h2>Meet our team</h2>
                                    <h5><em>Behind the cussess of Pouseidon is not th one-man work but the work of many creative and smart people</em></h5>
                                    <div class="separator_left"></div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <div class="team_item m-top-30">
                                    <div class="team_img">
                                        <img src="assets/images/model-img1.jpg" alt="" />
                                        <div class="team_caption">
                                            <h4 class="">Redikiel</h4>
                                            <h5><em>Founder at Pousiedon</em></h5>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-4 col-sm-6">
                                <div class="team_item m-top-30">
                                    <div class="team_img">
                                        <img src="assets/images/model-img2.jpg" alt="" />
                                        <div class="team_caption">
                                            <h4 class="">Christina Angela</h4>
                                            <h5><em>Graphic Director</em></h5>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-4 col-sm-6">
                                <div class="team_item m-top-30">
                                    <div class="team_img">
                                        <img src="assets/images/model-img3.jpg" alt="" />
                                        <div class="team_caption">
                                            <h4 class="">Kevin Andrew</h4>
                                            <h5><em>Photographer</em></h5>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-3 -->
                        </div>
                    </div>
                </div>
            </section>

<div class="container">
                    <div class="row">
                        <div class="main_cbrand text-center">
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="cbrand_item m-bottom-10">
                                    <a href=""><img src="assets/images/brand-img1.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="cbrand_item m-bottom-10">
                                    <a href=""><img src="assets/images/brand-img2.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="cbrand_item m-bottom-10">
                                    <a href=""><img class="" src="assets/images/brand-img3.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="cbrand_item m-bottom-10">
                                    <a href=""><img src="assets/images/brand-img4.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="cbrand_item m-bottom-10">
                                    <a href=""><img src="assets/images/brand-img5.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-6">
                                <div class="cbrand_item m-bottom-10">
                                    <a href=""><img src="assets/images/brand-img1.png" alt="" /></a> 
                                </div>
                            </div>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container --> --}}




<section id="gallery" class="gallery margin-top-120 bg-white">
    <!-- Portfolio container-->
    <div class="container">
        <div class="row">
            <div class="main-gallery main-model roomy-80">
                <div class="col-md-12 m-bottom-60">
                    <div class="filters-button-group sm-text-center">
                        <button class="button is-checked" data-filter="*">View all</button>
                        <button class="button" data-filter=".metal">Catwalk</button>
                        <button class="button" data-filter=".transition">Advertisement</button>
                        <button class="button" data-filter=".alkali">Fashionista</button>
                        <button class="button" data-filter=".ar">Model Photo</button>
                    </div>
                </div>

                <div style="clear: both;"></div>

                <div class="grid models text-center">
                    {{#each datos}}
                    {{#each this}}
                    {{#if name}}
                    <div class="grid-item model-item transition metal ium">
                        <img alt="" src="../public/img/descarga (1).jpeg">
                        <h6>{{name}}</h6>
                        <h6>{{stock}}</h6>
                        <h3>{{price}}$</h3>
                        
                    </div><!-- End off grid item -->
                    {{/if}}
                    {{/each}}
                    {{/each}}
                </div>

                <div style="clear: both;"></div>

            </div>
        </div>
    </div><!-- Portfolio container end -->
</section><!-- End off portfolio section -->




{{datos}}