 <section id="feature" class="feature p-top-100">
                <div class="container">
                    <div class="row">
                        <div class="main_feature">

                            <div class="col-md-6 m-top-100">
                                <!-- Head Title -->
                                <div class="head_title">
                                    <h2>Noticia del día</h2>
                                    <h5><em>Gato héroe salvó a su dueña de morir en un incendio, mientras dormía</em></h5>
                                    <div class="separator_left"></div>
                                </div><!-- End off Head Title -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature_photo wow fadeIn sm-m-top-40">
                                    <div class="photo_border"></div>
                                    <div class="feature_img">
                                        <img src="../../public/img/descarga.jpeg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
                <br />
                <br />
                <br />
                <hr />
                <br />
                <br />
                <br />
            </section> <!--End off About section -->
