 <section id="feature" class="feature p-top-100">
                <div class="container">
                    <div class="row">
                        <div class="main_feature">

                            <div class="col-md-6 m-top-120">
                                <!-- Head Title -->
                                <div class="head_title">
                                    <h2>From Ocean</h2>
                                    <h5><em>Pouseidon brings the waves to somewhere so far,
                                            with beautiful & elegant</em></h5>
                                    <div class="separator_left"></div>
                                </div><!-- End off Head Title -->

                                <div class="feature_content wow fadeIn m-top-40">
                                    <p>Eusus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores
                                        legere me lius quod ii legunt saepius. Duis autem vel eum iriure dolor in hendrerit vulputate
                                        velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                                        accumsan et iusto odio dignissim qui blandit praesent luptatum</p>

                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
                                        vel illum dolore feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim</p>

                                    <div class="feature_btns m-top-30">
                                        <a href="" class="btn btn-default text-uppercase">more about us <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature_photo wow fadeIn sm-m-top-40">
                                    <div class="photo_border"></div>
                                    <div class="feature_img">
                                        <img src="assets/images/feature-img.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
                <br />
                <br />
                <br />
                <br />
                <hr />
                <br />
                <br />

                <div class="container">
                    <div class="row">
                        <div class="main_counter text-center">
                            <div class="col-md-3">
                                <div class="counter_item">
                                    <h2 class="statistic-counter"><em> 29 </em></h2>
                                    <div class="separator_small"></div>
                                    <h5>Projects Finished</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter_item sm-m-top-40">
                                    <h2 class="statistic-counter"><em>124</em></h2>
                                    <div class="separator_small"></div>
                                    <h5>Happy Clients</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter_item sm-m-top-40">
                                    <h2 class="statistic-counter"><em>76</em></h2>
                                    <div class="separator_small"></div>
                                    <h5>Hours of work</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter_item sm-m-top-40">
                                    <h2 class="statistic-counter"><em>500</em> </h2>
                                    <div class="separator_small"></div>
                                    <h5>Cup of coffee</h5>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->

                <br />
                <br />
                <br />
                <hr />
                <br />
                <br />
                <br />

                <!--Our Work Section-->
                <div class="container">
                    <div class="row">
                        <div class="main_work">

                            <div class="col-md-7 col-md-offset-5 col-sm-12 col-xs-12">
                                <div class="work_item">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-12 col-xs-12 text-right pull-right sm-text-center">
                                            <div class="work_item_img">
                                                <img src="assets/images/work-img1.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12 text-right pull-left sm-text-center">
                                            <div class="work_item_details m-top-80 sm-m-top-20">
                                                <h4>Fashionista</h4>
                                                <div class="work_separator1"></div>
                                                <p class="m-top-40 sm-m-top-10">Duis autem vel eum iriure dolor in hendrerit in vulputate velit molestie consequat</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off work-item -->

                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <div class="work_item">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-12 col-xs-12">
                                            <div class="work_item_img sm-text-center sm-m-top-40">
                                                <img src="assets/images/work-img2.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12 text-left pull-left sm-text-center">
                                            <div class="work_item_details m-top-80 sm-m-top-20">
                                                <h4>Fashionista</h4>
                                                <div class="work_separator2"></div>
                                                <p class="m-top-40 sm-m-top-10">Duis autem vel eum iriure dolor in hendrerit in vulputate velit molestie consequat</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- End off work-item -->

                            <div class="col-md-7 col-md-offset-5 col-sm-12 col-xs-12">
                                <div class="work_item">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-12 col-xs-12 text-right pull-right sm-text-center">
                                            <div class="work_item_img sm-m-top-40">
                                                <img src="assets/images/work-img3.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12 text-right pull-left sm-text-center">
                                            <div class="work_item_details m-top-80 sm-m-top-20">
                                                <h4>Fashionista</h4>
                                                <div class="work_separator1"></div>
                                                <p class="m-top-40 sm-m-top-10">Duis autem vel eum iriure dolor in hendrerit in vulputate velit molestie consequat</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off work-item -->

                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <div class="work_item">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-12 col-xs-12">
                                            <div class="work_item_img sm-text-center sm-m-top-40">
                                                <img src="assets/images/work-img4.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12 text-left pull-left sm-text-center">
                                            <div class="work_item_details m-top-80 sm-m-top-20">
                                                <h4>Fashionista</h4>
                                                <div class="work_separator2"></div>
                                                <p class="m-top-40 sm-m-top-10">Duis autem vel eum iriure dolor in hendrerit in vulputate velit molestie consequat</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- End off work-item -->

                        </div>
                    </div>
                </div>



                <br />
                <br />
                <br />
                <hr />
                <br />
                <br />
                <br />

                <div class="container">
                    <div class="row">


                        <div class="service_content_area">
                            <!-- Service LEFT SIDE -->
                            <div class="col-md-4 service_left wow fadeInLeft">
                                <!-- Service -->

                                <div class="service_items">
                                    <div class="row">

                                        <!-- ICON -->
                                        <div class="col-xs-3">
                                            <div class="hexagon">
                                                <div class="about-content">
                                                    <span class="fa fa-leaf"></span>
                                                </div>    
                                            </div>
                                        </div>

                                        <div class="col-xs-9">
                                            <div class="text-left service_left_text">
                                                <h4 class="main-color">Perfect Responsive</h4>
                                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- end Single Service item -->

                                <!-- Service -->
                                <div class="service_items">
                                    <div class="row">
                                        <!-- ICON -->
                                        <div class="col-xs-3">
                                            <div class="hexagon">
                                                <div class="about-content">
                                                    <span class="fa fa-diamond"></span>
                                                </div>    
                                            </div>
                                        </div>

                                        <div class="col-xs-9">
                                            <div class="text-left service_left_text">
                                                <h4 class="main-color">Unique Design</h4>
                                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- end Single Service item -->

                                <!-- Service -->
                                <div class="service_items">
                                    <div class="row">
                                        <!-- ICON -->
                                        <div class="col-xs-3">
                                            <div class="hexagon">
                                                <div class="about-content">
                                                    <span class="fa fa-android"></span>
                                                </div>    
                                            </div>
                                        </div>

                                        <div class="col-xs-9">
                                            <div class="text-left service_left_text">
                                                <h4 class="main-color">Clean & Clear</h4>
                                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end Single Service item -->


                            </div>
                            <!-- /END Service LEFT -->

                            <!-- PHONE IMAGE -->
                            <div class="col-md-4 sm-m-top-40 sm-text-center">
                                <div class="service-img wow bounceIn">
                                    <img src="assets/images/service-img.png" alt="Architect Img">
                                </div>
                            </div>

                            <!-- Service RIGHT -->
                            <div class="col-md-4 service_right wow fadeInRight sm-m-top-40" >

                                <!-- Service -->
                                <div class="service_items">
                                    <div class="row">

                                        <div class="col-xs-9">
                                            <div class="service_right_text p-l-15 text-right">
                                                <h4 class="main-color">Easy install</h4>
                                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</p>
                                            </div>
                                        </div>

                                        <!-- ICON -->
                                        <div class="col-xs-3">
                                            <div class="hexagon">
                                                <div class="about-content">
                                                    <span class="fa fa-cut"></span>
                                                </div>    
                                            </div>
                                        </div>

                                    </div>

                                </div> <!-- end Single Service item -->



                                <!-- Service -->
                                <div class="service_items">
                                    <div class="row">

                                        <div class="col-xs-9">
                                            <div class="service_right_text p-l-15 text-right">
                                                <h4 class="main-color">Premium Support</h4>
                                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</p>
                                            </div>
                                        </div>


                                        <!-- ICON -->
                                        <div class="col-xs-3">
                                            <div class="hexagon">
                                                <div class="about-content">
                                                    <span class="fa fa-bullhorn"></span>
                                                </div>    
                                            </div>
                                        </div>

                                    </div>

                                </div><!-- end Single Service item -->  

                                <!-- Service -->
                                <div class="service_items">
                                    <div class="row">


                                        <div class="col-xs-9">
                                            <div class="service_right_text p-l-15 text-right">
                                                <h4 class="main-color">And much more</h4>
                                                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</p>
                                            </div>
                                        </div>

                                        <!-- ICON -->
                                        <div class="col-xs-3">
                                            <div class="hexagon">
                                                <div class="about-content">
                                                    <span class="fa fa-paper-plane"></span>
                                                </div>    
                                            </div>
                                        </div>

                                    </div>
                                </div><!-- end Single Service item --> 


                            </div><!-- /END Service RIGHT -->
                        </div>
                    </div> <!--End off row -->
                </div>

            </section> <!--End off About section -->
