
            <footer id="footer" class="footer bg-mega">
                <div class="container">
                    <div class="row">
                        <div class="main_footer p-top-40 p-bottom-30">
                            <div class="col-md-6 text-left sm-text-center">
                                <p class="wow fadeInRight" data-wow-duration="1s">
                                    <i class="fa fa-heart"></i>
                                    <a target="_blank" href="https://github.com/ITSKY152/Proyecto-Sena-2020">Documentación</a> 
                                </p>
                            </div>
                            <div class="col-md-6 text-right sm-text-center sm-m-top-20">
                                <ul class="list-inline">
                                    <li><a href="">Facebook</a></li>
                                    <li><a href="">Twitter</a></li>
                                    <li><a href="">Instagram</a></li>
                                    <li><a href="https://github.com/ITSKY152/Proyecto-Sena-2020">github</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

