<section id="hello" class="home bg-mega">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_home text-center">
                            <div class="home_text">
                                <h5 class=" text-uppercase text-white"><em>¡¡Bienvenidos!!</em>
                                <h1 class="text-white text-uppercase">pet shop</h1>

                                <div class="separator"></div>

                                <h5 class=" text-uppercase text-white"><em>tips, productos, noticias y todo para tus amigos peludos. </em></h5>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Home Sections-->