 <!--Models section-->

            <section id="models" class="models bg-grey roomy-80">
                <div class="container">
                    <div class="row">
                        <div class="main_models text-center">
                            <div class="col-md-12">
                                <div class="head_title text-left sm-text-center wow fadeInDown">
                                    <h2>Our Models</h2>
                                    <h5><em>The success of Pouseidon is passion and love. Meet them now!</em></h5>
                                    <div class="separator_left"></div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="model_item m-top-30">
                                    <div class="model_img">
                                        <img src="assets/images/model-img01.jpg" alt="" />
                                        <div class="model_caption">
                                            <h5 class="text-white">Angela Baby</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-3 col-sm-6">
                                <div class="model_item m-top-30">
                                    <div class="model_img">
                                        <img src="assets/images/model-img02.jpg" alt="" />
                                        <div class="model_caption">
                                            <h5 class="text-white">Angela Baby</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-3 col-sm-6">
                                <div class="model_item m-top-30">
                                    <div class="model_img">
                                        <img src="assets/images/model-img03.jpg" alt="" />
                                        <div class="model_caption">
                                            <h5 class="text-white">Angela Baby</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-3 col-sm-6">
                                <div class="model_item m-top-30">
                                    <div class="model_img">
                                        <img src="assets/images/model-img04.jpg" alt="" />
                                        <div class="model_caption">
                                            <h5 class="text-white">Angela Baby</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-3 col-sm-6">
                                <div class="model_item m-top-30">
                                    <div class="model_img">
                                        <img src="assets/images/model-img05.jpg" alt="" />
                                        <div class="model_caption">
                                            <h5 class="text-white">Angela Baby</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-3 col-sm-6">
                                <div class="model_item m-top-30">
                                    <div class="model_img">
                                        <img src="assets/images/model-img06.jpg" alt="" />
                                        <div class="model_caption">
                                            <h5 class="text-white">Angela Baby</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-3 col-sm-6">
                                <div class="model_item m-top-30">
                                    <div class="model_img">
                                        <img src="assets/images/model-img07.jpg" alt="" />
                                        <div class="model_caption">
                                            <h5 class="text-white">Angela Baby</h5>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-3 -->

                            <div class="col-md-3 col-sm-6">
                                <div class="model_item meet_team m-top-30">
                                    <a href="">Meet All Them <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div><!-- End off col-md-3 -->

                        </div>
                    </div>
                </div>
            </section>
