 <nav class="navbar navbar-default navbar-fixed white no-background bootsnav text-uppercase">
                <div class="container">    
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/index">

                                <h1 class="text-white text-uppercase">pet shop</h1>
{{!-- 
                            <img src="https://i.imgur.com/hBc0GQv.png?1" class="logo logo-display" alt=""> --}}
                            <img src="assets/images/logo-black.png" class="logo logo-scrolled" alt="">

                        </a>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li><a href="/index">Home</a></li> 
							<li><a href="/noticias">Noticias</a></li> 							                   
                            <li><a href="/cuidados">Cuidados</a></li> 							
                            <li><a href="/productos">Productos</a></li>                                    
                            <li><a href="http://localhost:3000/">Inciar Sesión</a></li>                    
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>  


            </nav>