<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="utf-8">
        <title>Pet Shop</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="https://i.imgur.com/R5466Kd.png?1">

        <!--Google Fonts link-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i"
                rel="stylesheet">


        <link rel="stylesheet" href="public/cliente/assets/css/slick.css">
        <link rel="stylesheet" href="public/cliente/assets/css/slick-theme.css">
        <link rel="stylesheet" href="public/cliente/assets/css/animate.css">
        <link rel="stylesheet" href="public/cliente/assets/css/fonticons.css">
        <link rel="stylesheet" href="public/cliente/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="public/cliente/assets/css/bootstrap.css">
        <link rel="stylesheet" href="public/cliente/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="public/cliente/assets/css/bootsnav.css">


        <!--For Plugins external css-->
        <!--<link rel="stylesheet" href="assets/css/plugins.css" />-->

        <!--Theme custom css -->
        <link rel="stylesheet" href="public/cliente/assets/css/style.css">
        <!--<link rel="stylesheet" href="assets/css/colors/maron.css">-->

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="public/cliente/assets/css/responsive.css" />

        <script src="public/cliente/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

</head>

<body>
        {{>carga}}
        {{>navbar}}
        {{>home}}
        {{{body}}}
        {{>scrollUp}}
        {{>footer}}

        {{!-- scripts --}}
 <script src="../screaping.js"></script>
        <script src="public/cliente/assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="public/cliente/assets/js/vendor/bootstrap.min.js"></script>

        <script src="public/cliente/assets/js/isotope.min.js"></script>
        <script src="public/cliente/assets/js/jquery.magnific-popup.js"></script>
        <script src="public/cliente/assets/js/jquery.easing.1.3.js"></script>
        <script src="public/cliente/assets/js/slick.min.js"></script>
        <script src="public/cliente/assets/js/jquery.collapse.js"></script>
        <script src="public/cliente/assets/js/bootsnav.js"></script>

        <script src="public/cliente/assets/js/plugins.js"></script>
        <script src="public/cliente/assets/js/main.js"></script>
</body>

</html>